<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>Beacon Stats</h1>
  </div>
</header> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<h3 class="navbar-text">Beacons Filter</h3>
			<div class="clearfix"></div>
			<p ng-repeat="beacon in beacons">
				<label>{{beacon.name}}</label>
				<label class="btn btn-primary" ng-model="beacon.checked" btn-checkbox>{{modelLabels(beacon.checked)}}</label>
			</p>
			<h3 class="navbar-text">Type of User</h3>
			<div class="clearfix"></div>
			<label class="btn btn-primary" ng-model="filter.user" btn-checkbox>Users</label>
			<label class="btn btn-primary" ng-model="filter.admin" btn-checkbox>Admins</label>
			<h3 class="navbar-text">Starting date</h3>
			<div class="clearfix"></div>
			<div style="display:inline-block; min-height:200px;">
    		<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
  		</div>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-1 main">
			<div class="row">
		    <div class="col-md-6">
		    	<h1>Trending Beacons</h1>
			    <canvas id="line" class="chart chart-line" data="dataLine" labels="labelsLine" legend="true" series="seriesLine" click="onClick">
				</canvas> 
		    </div>
		    <div class="col-md-6">
		    	<h1>Trending Queries</h1>
			    <canvas id="pie" class="chart chart-pie" data="dataPie" labels="labelsPie"></canvas> 
		    </div>
		  </div>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p>shashvattrip-BOB v1.0 |
        <a href="https://twitter.com/TrippinShash">@TrippinShash</a> |
         <a href="https://github.com/shashvattrip" target="_blank">Github</a></p>
  </div>
</footer>

