<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <!-- <h1>'Allo, 'Allo!</h1> -->
    <p class="lead">What beacons do you want to query?</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
    <!-- <pre>{{checkModel}}</pre> -->
    <div class="btn-group">
        <label class="btn btn-success" ng-model="checkModel.amp" btn-checkbox>AMP Lab</label>
        <label class="btn btn-success" ng-model="checkModel.ncbi" btn-checkbox>NCBI Beacon</label>
        <label class="btn btn-success" ng-model="checkModel.ucsc" btn-checkbox>UCSS Beacon</label>
        <label class="btn btn-success" ng-model="checkModel.beacon4" btn-checkbox>Beacon4</label>
        <br/>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class='btn btn-default' ng-click="checkErrors()">Go!</button>

    </div>
  </div>
</header>
<div class="container" ng-show="showProgressBar">
  <progressbar animate="true" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>
</div>
<div class="container" ng-show="showResults">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Results:</h1>
        <ul>
          <li ng-repeat='result in results'>exist_gt : {{result.exist_gt}}, exist_src : {{result.exist_sra}} : from {{result.query.sender}}</li>
        </ul>
      <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul> -->
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>shashvattrip-BOB v1.0 |
        <a href="https://twitter.com/TrippinShash">@TrippinShash</a> |
         <a href="https://github.com/shashvattrip" target="_blank">Github</a></p>
  </div>
</footer>
