<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">{{'WHAT_BEACONS_DO_YOU_WANT_TO_QUERY' | translate}}</p>
    <!-- <button ng-click="test()">Test button</button> -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div style="overflow:auto;height:200px;">
          <table class="table" style="height:300px;">
            <thead>
              <tr>
                <th>Beacon</th>
                <th class="">Status</th>
              </tr>
            </thead>
            <tbody class="" style="overflow-y: auto;height: 300px;">
              <tr ng-repeat="beacon in beacons">
                <th class="">{{beacon.name}}</th>
                <th class="">
                  <label class="btn btn-success" ng-model="beacon.checked" btn-checkbox>{{modelLabels(beacon.checked)}}</label>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | translate}}</alert>
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
            <label for="ref" class="control-label col-xs-3">Genome</label>
            <div class="col-md-6 col-md-offset-1">
                <select class="form-control" ng-model="selectedGenome" ng-options="genome.value for genome in genomes">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="position" class="control-label col-xs-3">Position</label>
            <div class="col-md-6 col-md-offset-1">
                <input required type="text" ng-model="selectedPosition" class="form-control" id="" placeholder="Enter Position">
                <small style="color:rgb(255,255,255)">0-based coordinate</small>
            </div>
        </div>
        <div class="form-group">
            <label for="chrom" class="control-label col-xs-3">Chromosome</label>
            <div class="col-md-6 col-md-offset-1">
                <select class="form-control" ng-model="selectedChromosome" ng-options="chromosome.value for chromosome in chromosomes"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="alt" class="control-label col-xs-3">Allele</label>
            <div class="col-md-6 col-md-offset-1">
                <select class="form-control" ng-model="selectedAllele" ng-options="allele.value for allele in alleles"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-6">
                <button class="form-control btn btn-success" ng-click="redirectTo()">Go</button>
            </div>
        </div>
      </form>
    </div>
    <br/>
  </div>
</header>
<footer class="footer">
  <div class="container">
      <p>shashvattrip-BOB v1.0 |
        <a href="https://twitter.com/TrippinShash">@TrippinShash</a> |
         <a href="https://github.com/shashvattrip" target="_blank">Github</a></p>
  </div>
</footer>
