<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">{{'WHAT_BEACONS_DO_YOU_WANT_TO_QUERY' | translate}}</p>
    <!-- <button ng-click="test()">Test button</button> -->
    <div class="row" ng-repeat="beacon in beacons">
      <div class="col-md-3 col-md-offset-3">
        <label>{{beacon.name}}</label>
      </div>
      <div class="col-md-1">
        <label class="btn btn-success" ng-model="beacon.checked" btn-checkbox>{{modelLabels(beacon.checked)}}</label>
      </div>
    </div>
    <br/>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | translate}}</alert>
  </div>
</header>
<!-- <div class="container" ng-show="showProgressBar">
  <progressbar animate="true" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>
</div> -->
<div class="container" ng-show="showResults">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Configs:</h1>
      <a href="/results"><button type="button" class='btn btn-success btn-lg btn-block' translate='HOME_BTN_GO'></button></a>
      <br/>
      <ul class="nav nav-tabs nav-stacked col-md-3 col-lg-4 col-sm-6" ng-repeat="beacon in beacons | filter:{checked: 'true'}">
        <li><strong>{{beacon.name}}</strong></li>
        <li>Allele 
         <input type="text" class="form-control" id="" placeholder="Enter Allele">
        </li>
        <li>Chromosome 
         <input type="text" class="form-control" id="" placeholder="Enter Chromosome">
        </li>
        <li>Reference 
         <input type="text" class="form-control" id="" placeholder="Enter Reference">
        </li>
        <li>Position 
         <input type="text" class="form-control" id="" placeholder="Enter Position">
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class='btn btn-success btn-lg btn-block'>Go!</button>
    </div>
  </div> -->
</div>

<footer class="footer">
  <div class="container">
      <p>shashvattrip-BOB v1.0 |
        <a href="https://twitter.com/TrippinShash">@TrippinShash</a> |
         <a href="https://github.com/shashvattrip" target="_blank">Github</a></p>
  </div>
</footer>
