<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 sidebar">
      <input type="text" class="form-control" id="" placeholder="Search Queries" ng-model="filter.search">
      <tabset>
        <tab heading="History">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Requset</th>
                <th>Label</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="query in queries | filter: filter.search">
                <th>{{query.request}}</th>
                <th>{{query.label}}</th>
              </tr>
            </tbody>
          </table>
          <!-- <p ng-repeat="query in queries">{{query}}</p> -->
        </tab>
        <tab heading="Groups">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Group</th>
                <th>Label</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="query in queries | orderBy: '-group' | filter: filter.search">
                <th>{{query.group}}</th>
                <th>{{query.label}}</th>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-1 main">
      <div class="row">
        <h1>Results</h1>
        <ul class="nav nav-tabs nav-stacked col-md-3 col-lg-4 col-sm-6" ng-repeat="result in results">
          <li><strong>{{result.query.sender}}</strong></li>
          <p>Exists GT : {{result.exist_gt}}</p>
          <p>Exists SRA : {{result.exist_sra}}</p>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>shashvattrip-BOB v1.0 |
        <a href="https://twitter.com/TrippinShash">@TrippinShash</a> |
         <a href="https://github.com/shashvattrip" target="_blank">Github</a></p>
  </div>
</footer>

